{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
        {{ product.description|truncatewords:155 }}
        Welcome to XPAIN SHOPPE where you can buy different items....
{% endblock %}

{% block title %}
    {% if category %}
        {{ product.name }} - XPAIN SHOPPE
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row my_prod_row_class">
        <div class="mx-auto" style="text-align: end">
            <p><a href="{% url 'ecommerceapp:allProdCat' %}" style="text-decoration: none;font-size: 14px">HOME</a> | <a href="{{ product.category }}" style="text-decoration: none;font-size: 14px" >{{ product.name }}</a>  </p>
        </div>
    <div class="container">
    <br>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
            <div style="min-width: 18rem">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" width="300px" height="300px" style="object-fit: contain">
            </div>
    </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 ">
            <div>
                <h1 class="my_prod_title">{{ product.name }}</h1>
                <p>${{ product.price }}</p>
                <p style="font-size: 20px;font-weight: bold" >Product Description</p>
                <p>{{ product.description }}</p>
                {% if product.stock <= 0 %}
                    <p class="text-justify prod_stock"><b>Out of Stock</b></p>
                {% else %}
                    <a class="btn btn-primary" href="{% url 'cart_app:add_cart' product.id %}">Add to Cart</a>
                {% endif %}
    </div>
            </div>
        </div>
    </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}